.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 23%;
    border-radius: 15px;
    border: 1px solid ;
}

.proudct__buttonbox{
    display: flex;
    gap: 20px;
}

.buy-button{
    background-color: var(--primary-color);
}

