.form{
    max-width: 540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label{
    align-self: start;
}

input{
    flex-basis: content;
}

.auth__chandge-button{
    
    border: none;
    font-weight: 500;
    color: var(--link-color);
    background-color: transparent;
}